.gifbackground {
    background-image: url("../../media/../media/gifs/Boomba.gif");
    border:solid;
    border-color:white;
    border-radius: 1rem;
    height:30rem;
    background-repeat: round
}

.gifbackground2 {
    background-image: url("../../media/gifs/thinking.gif");
    border:solid;
    border-color:white;
    border-radius: 1rem;
    
    background-position: 3rem;
    background-attachment: scroll;
    background-repeat: unset;
    

}

.loading {
    opacity: 0.8;
    border-radius: 1rem;
    background-color:whitesmoke;
    border:solid;
    border-color:black;
    
}

#dance {
    width:60%;
    padding-left: 1 rem;

}

#rapperName {
    text-align: center;
    font-size:6rem;
    background-color:white;
    border-radius: 2rem;
}

@media only screen and (max-width: 700px) {
    #host {
        display:none;
        font-size:10rem;
    }
  }
  @media only screen and (max-width: 1080px){
      #host {
          display:auto;
      }
  }