.headerBody {
    background-image: url(../../media/wallpapers/hardwood.jpg);
    font-family: 'Aldrich', sans-serif;
    border-radius: 3rem;
    height: 10rem;
    margin-top: 6rem;
}

#center-logo {
    font-size: 3rem;
}

#account-icon {
    margin: 2rem;
    font-size: 5rem;
    padding: 0.5rem;
}

#dojo-icon {
    width: 5rem;
    height: 5rem;
    margin-top: 2.1rem;
    margin-right: -4.9rem;
}

