.headerBody {
    background-image: url(../../media/wallpapers/1_Bh02QFO051kuSr9WTBU-zQ.jpeg);
    font-family: 'Josefin Sans', sans-serif;
    border:solid;
    border-radius: 0.3rem;
}

#dojo-icon{
    margin-top:0.2rem;
    width:3.5rem;
    height:3.5rem;
}


#center-logo{
    
    font-size: 1.7rem;
    margin-top: -0.4rem;
    top: 5rem;
}


@media only screen and (max-width: 415px) {
    #dojo-icon{
        width:2rem;
        height:2rem;
        margin-top:0.8rem;
    }
    
    
    #center-logo{
        
        font-size: 1rem;
        margin-top: -0.2rem;
        top: 5rem;
    }
  }


