.header {
    background-color:white;
}
#login-form {
    background-color:lightpink;
    border-radius: 0.5rem;
    width:100%;
    border:solid;
    border-color:white;
}



#submit-in{
    position:relative;
    margin:3rem;
    margin-left:35rem;
}

#submit-in{
    position:relative;
    margin:3rem;
    margin-left:35rem;
}