#musicplayer {
    margin-top: 2rem;
    background-color:white;
    width:55%;
    height: auto;
    border: solid;
    border-color: black;
    border-radius: 2rem;
    opacity: 1;
    box-shadow:18px 19px 4px -17px rgba(0, 0, 0, .8), inset 0 0 0px 0px rgba(0, 0, 0, 1)
    
}
 

