.header {
    background-color:white;
}
#login-form {
    
    border-radius: 0.5rem;
    width:100%;
    border:solid;
    border-color:white;
}





.input-field input:focus + label {
    color: red !important;
}